body {
  background-color: rgb(14, 147, 145);
}

h1 {
  text-align: center;
  color: aliceblue;
  margin-top: 40px;
}

p {
  text-align: center;
  font-size: 22px;
  color: rgb(192, 224, 8);
  margin: 50px;
}

img {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  max-width: 900px;
}

a {
  color: aliceblue;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
}
